# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [4]:
# Method 1 
nums = [1,2,3,4]
nums.remove(3)
nums

[1, 2, 4]

In [14]:
# Method 2

[1, 2, 4]

In [1]:
nums=[1,2,3,4]
del nums[2]
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [5]:
lst=[2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [6]:
lst=[2,3,4]
lst.insert(0,1)

In [7]:
lst.insert(2,"two-and-half")

In [8]:
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [38]:
# CODE HERE

*convert into list*

In [33]:
phrase = "Don't panic!"
y=list(phrase)
phrase=y
print(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [34]:
phrase = "Don't panic!"
a=list(phrase)
a.remove("!")
phrase=a
print(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [14]:
phrase = "Dont panic"
a=list(phrase)
a.remove("p")
del a[6:7]
a.remove("a")
a.remove("D")
a.extend("panD")
print(a)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [10]:
# CODE HERE
x=['p', 'a', 'n', 'D', 'a']
"".join(x)

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [18]:
# CODE HERE
x=(31,24,35,85)
y="datatype"
print(y,type(x),"\n",x)

datatype <class 'tuple'>
 (31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [35]:
# CODE HERE
x=(31,24,35,85)
y=list(x)
y.remove(35)
x=tuple(y)
print(x)

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [25]:
# CODE HERE
x=(31,24,85)
z=(85,19)
y=list(x)
y.extend(z)
x=tuple(y)
print(x)

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [17]:
# CODE HERE
tpl = ('i','n''n','0')
print("i" in tpl)

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [16]:
# CODE HERE
list = ['Hello',100,[],'innomatics']
list[2]=[200]
print(list)

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [15]:
# CODE HERE
tpl = ("Innomatics")
r=reversed(tpl)
r=tuple(r)
print(r)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [17]:
tpl=(1,2,3)+(4,)
tpl

(1, 2, 3, 4)

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [17]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=[]
b=len(tpl)
y=0
d=[]
for x in tpl:
    a=list(tpl[y])
    a.append("100")
    a=tuple(a)
    d.append(a)
    y=y+1
d

[(10, 20, 40, '100'), (40, 50, 60, '100'), (70, 80, 90, '100')]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [25]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=[]
b=len(tpl)
y=[]
d=0
for x in tpl:
    a=list(tpl[d])
    a[2]=100
    a=tuple(a)
    y.append(a)
    d=d+1
y

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [2]:
x=input( )
x2=list(set(x))
x2.sort()
print("the second highest is :",x2[-3])

555555444443333332222
the second highest is : 3

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

`Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [3]:
# CODE HERE

[24, 35, 70, 155]

In [9]:
x=[12,24,35,70,88,120,155]
del x[4:6]
x.remove(12)
x

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [52]:
tpl=(1,2,3,4,5,6,7,8,9,10)
t1=tpl[:5]
t2=tpl[5:]
print(t1,t2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

(2, 4, 6, 8, 10)

In [111]:
x=(1,2,3,4,5,6,7,8,9,10)
b=[]
for y in x:
    if y%2==0:
        b.append(y)
tuple(b)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
list is a mutuable
tuple is a immutable

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution
append() define the value , at the end of the list
extend() define the value, whatever may be string, collection datatypes

### 3. Explain the difference between pop() and remove() with examples

In [113]:
# Solution
#pop()define the value of original items particular index value 
#remove()define the value what ever the remove above from the original item.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)